---
version: 3

dependencies:
  galaxy:
    collections:
      - name: community.general

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

options:
  package_manager_path: /usr/bin/microdnf
